[submodule "lib/life-client"]
	path = lib/life-client
	url = https://github.com/xinxinw1/life-client.git
[submodule "lib/life-tools"]
	path = lib/life-tools
	url = https://github.com/xinxinw1/life-tools.git
[submodule "lib/tools"]
	path = lib/tools
	url = https://github.com/xinxinw1/tools.git
